<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Main Menu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&amp;display=swap"

      rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Main Menu</h1>
      <br>
      <p>Please select a menu option:</p>
    </div>
    <div style="text-align: center;"><a href="viewdata"><button name="viewdata"

          value="viewdata">Data Dashboard</button> <br>
        <br>
      </a><a href="ratebooks"><button name="recommendations" value="recommendations">Book
          Recommendations</button> <br>
        <br>
      </a><a href="shutdown"><button name="quit" value="quit">Quit</button></a></div>
    <a href="shutdown">
      <style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: red;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
    body {
        background-image: url("/static/images/books.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style> <p></p>
    </a>
  </body>
</html>
