<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&amp;display=swap"

      rel="stylesheet">
    <title>Recommendations</title>

    <style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: red;
        font-size: 40pt;
    }
    p {
        font-size: 14pt;
    }
    body {
        background-image: url("/static/images/books.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    </style>

  </head>
  <body>
    <p>Based on your book rankings, the following are our top 10 book selections
      for you!</p>
    <p><img src="{{ img1 }}" alt="Image1" style="vertical-align:middle"> 1. Title: <label form="Title" for="Title"></label>{{ title1
      }}&nbsp; Author: <label form = "Author" for="Author"></label>{{ author1 }}

    </p>
    <p><img src="{{ img2 }}" alt="Image2" style="vertical-align:middle"> 2. Title: <label form="Title" for="Title"></label>{{ title2 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author2 }}

    </p>
    <p><img src="{{ img3 }}" alt="Image3" style="vertical-align:middle"> 3. Title: <label form="Title" for="Title"></label>{{ title3 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author3 }}

    </p>
    <p><img src="{{ img4 }}" alt="Image4" style="vertical-align:middle"> 4. Title: <label form="Title" for="Title"></label>{{ title4 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author4 }}

    </p>
    <p><img src="{{ img5 }}" alt="Image5" style="vertical-align:middle"> 5. Title: <label form="Title" for="Title"></label>{{ title5 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author5 }}

    </p>
    <p><img src="{{ img6 }}" alt="Image6" style="vertical-align:middle"> 6. Title: <label form="Title" for="Title"></label>{{ title6 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author6 }}

    </p>
    <p><img src="{{ img7 }}" alt="Image7" style="vertical-align:middle"> 7. Title: <label form="Title" for="Title"></label>{{ title7 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author7 }}

    </p>
    <p><img src="{{ img8 }}" alt="Image8" style="vertical-align:middle"> 8. Title: <label form="Title" for="Title"></label>{{ title8 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author8 }}

    </p>
    <p><img src="{{ img9 }}" alt="Image9" style="vertical-align:middle"> 9. Title: <label form="Title" for="Title"></label>{{ title9 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author9 }}

    </p>
    <p><img src="{{ img10 }}" alt="Image10" style="vertical-align:middle"> 10. Title: <label form="Title" for="Title"></label>{{ title10 }}&nbsp;
      Author: <label form = "Author" for="Author"></label>{{ author10 }}

    </p>
    <p><br>
    </p>
    <a href=landing><button name="cancel" value="cancel">Back to Main Menu</button></a> </p>



  </body>
</html>
