<html>
  <head>
    <title>Welcome!</title>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&amp;display=swap"

      rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>Welcome to Cumulus Books!</h1>
      <br>
      <p>Please log in to begin!</p>
    </div>
    <div style="text-align: center;">
      <form action="" method="post" novalidate>
        <p>
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}
        </p>
        <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
        {{ form.csrf_token }}
        </form>
    </div>



    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    <style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: red;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
    body {
        background-image: url("/static/images/books.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>
  </body>
</html>
